{% extends "base.html" %} 
{% block content %}

<h1 style="text-align: center">Add a Blog Entry</h1>
<form action="/newpost" method="post">
    <label>
    Title for New Blog<br>
    <input name="post_title" type="text" value = '{{post_title}}'>
    <div class="error">{{title_error}}</div>
  </label><br /><br />
    <label>
    Your New Blog<br>
    <textarea rows="10" columns="50" style="margin-left: 0px; margin-right: 0px; 
    width: 400px;" name="post_body">{{ body }}</textarea>
    <div class="error">{{body_error}}</div>
  </label><br>
    <input type="submit" value="Add Entry" />
</form>

{% endblock %}